body{
    background-color: aquamarine;
    font-family:"Trebuchet MS", sans-serif;
    margin: auto;
    margin-left: 1%;
}
div{
    font-size: 30px;
}
button:hover{
    filter: drop-shadow(0 0 2em #646cffaa);
}
button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input{
    font-size:30px;
    width:50px;
}
span{
    font-size:40px
}
h1{
    font-size: 70px;
}
h2{
    font-size: large;
}
#container{
    font-size: 40px;
}